<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

body
{
  background-color: rgb(253, 236, 244);
  color: rgb(20, 20, 20);
  font-family: Arial, Helvetica, sans-serif;
}
a
{
  color: rgb(99, 55, 169);
}
h1
{
  font-family:"Times New Roman", Times, serif;
  color: rgb(154, 122, 160);
}
img
{
border-radius: 8px;
border-style: outset;
}

    </body>
</html>
