<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Assistant:wght@200..800&display=swap" rel="stylesheet">
    </head>
    <body>

body
{
  background-color: rgb(245, 237, 224);
  color: rgb(20, 20, 20);
  font-family: arial;
}
a
{
  color: rgb(254,189,54);
}
h1
{
  font-family: Assistant;
  color: rgb(154, 122, 160);
}
img
{
border-radius: 8px;
border-style: outset;
}
    </body>
</html>
